:root {
  --main-color: #d4b9ff;
  --color-dark: #9d84c6;
  --color-light: #efc0fd;
  --color-very-light: #faeaff;
  --color-white: #ffffff;
  --color-card: #faeaff;
  --svg-filters: invert(88%) sepia(62%) saturate(4160%) hue-rotate(190deg)
    brightness(111%) contrast(106%);
}

* {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--main-color);
}

header {
  margin: 5% 5% 0 5%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 20px; */
}

.logo {
  display: flex;
  justify-content: center;
  /* margin: auto; */
  /* margin-left: 0; */
}

.logosvg {
  margin-left: 0.5rem;
  height: 3rem;
  filter: var(--svg-filters);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--main-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  min-width: 67px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--color-light);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color-dark);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.title {
  margin-top: 150px;
  line-height: 39px;
  /* margin-left: 20px; */
}

.line1,
.line2,
.line3 {
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  letter-spacing: 0.05rem;
}

.line1 {
  border-right: 2px solid var(--main-color);

  /* define animation types for text + cursor */
  animation: animated-text__1 1s steps(6) 1s 1 normal both,
    animated-cursor__1 900ms steps(6, end) 3;
}

.line2 {
  border-right: 2px solid var(--main-color);

  /* define animation types for text + cursor */
  animation: animated-text__2 3s steps(30) 1s 1 normal both,
    animated-cursor__2 900ms steps(30, end) 3;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.line3 {
  border-right: 2px solid var(--main-color);

  /* define animation types for text + cursor */
  animation: animated-text__3 1.5s steps(9) 1s 1 normal both,
    animated-cursor__3 900ms steps(9, end) infinite;
  -webkit-animation-delay: 6.3s;
  animation-delay: 6.3s;
}

@keyframes animated-cursor__1 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-cursor__3 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 6rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 18rem;
  }
}

@keyframes animated-text__3 {
  from {
    width: 0;
  }
  to {
    width: 10rem;
  }
}

.different-color {
  color: var(--color-very-light);
}

.different-font {
  font-family: "Barlow", sans-serif;
  font-size: 3 em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.welcometext {
  margin-top: 80px;
}

.welcometext > p {
  font-size: 0.6 rem;
  width: 60%;
  margin-left: 5%;
}

.bothlines {
  margin-top: 3rem;
}

hr {
  border: 0.1rem solid black;
  width: 90%;
}

.container {
  margin: 3.5rem auto 3.5rem auto;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container > * {
  padding: 1.5rem;
  height: 70px;
  width: 70px;
}

.container img {
  height: 70px;
  width: 70px;
  filter: var(--svg-filters);
}

.container div {
  border-radius: 50%;
  /* background-color: var(--color-light); */
  margin: 0.5rem;
  height: 60px;
  width: 60px;
}

.img1,
.img4,
.img5,
.img8 {
  animation: spin_1 5s infinite;
}

@keyframes spin_1 {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0);
  }
}
.img2,
.img3,
.img6,
.img7,
.img9 {
  animation: spin_2 5s infinite;
}

@keyframes spin_2 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.meetus {
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
  width: 90%;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.meetus > p {
  font-style: italic;
}

.button {
  height: 50px;
  width: 50px;
}

#button1 {
  background-color: #d4b9ff;
}

#button2 {
  background-color: #dddddd;
}

#button3 {
  background-color: #ffc0c0;
}

#button4 {
  background-color: #71bbb6;
}

#button5 {
  background-color: #0378a6;
}

/* This is Lisas Part*/

.cardscontainer {
  /* position: relative; */
  margin: 100px 5% 100px 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
}

.cardscontainer h2 {
  font-size: 2rem;
  margin-bottom: 100px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: auto;
  min-width: 17rem;
  height: 370px;
  flex: 1 1 300px;
  border-radius: 40px;
  margin: 20px;
  cursor: pointer;
  background-color: var(--color-card);
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  transition: all 0.5s linear;
  overflow: hidden;
  max-width: 350px;
}
.introContainer {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.cardsmall {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  margin-bottom: 20px;
}

.card p {
  line-height: 15px;
  word-break: break-word;
}

.card a {
  text-decoration-color: black;
  color: black;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: left;
}

.icons img {
  height: 30px;
  margin-right: 10px;
}

.active {
  height: 890px;
  z-index: 1;
}

.active img {
  opacity: 1;
}

.photocircle {
  object-fit: cover;
  position: relative;
  width: 38%;
  height: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.3;
  --s: 10px; /* control the size */
  border: calc(2 * var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
}

/* Next & previous buttons */
.mySlides1,
.mySlides2,
.mySlides3,
.mySlides4,
.mySlides5,
.mySlides6,
.mySlides7,
.mySlides8,
.mySlides9 {
  display: none;
  padding: 50px;
  text-align: center;
  font-style: italic;
  height: 4lh;
}

.slideshow-container {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 5px;
  align-content: center;
  justify-content: center;
  height: 4lh;
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: auto;
  padding: 5px;
  margin-bottom: 90px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.prev {
  top: 50px;
  bottom: 25px;
  left: 10px;
}
.next {
  top: 50px;
  bottom: 25px;
  right: 10px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.collapse-button-container {
  display: absolute;
  position: relative;
  justify-content: center;
  width: 100%;
  text-align: end;
}

.collapse {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: auto;
  padding: 5px;
  font-size: 40px;
  margin-bottom: 10px;
  bottom: 0px;
  left: 40%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 5% 2% 5%;
}
.footertext {
  position: relative;
}

.footertext p {
  bottom: 0;
  color: var(--color-very-light);
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .title {
    margin-top: 100px;
    line-height: 35px;
    /* margin-left: 20px; */
  }

  .line1,
  .line2,
  .line3 {
    white-space: nowrap; /* keep text in one line */
    overflow: hidden; /* hide text behind the cursor */
    letter-spacing: 0.05rem;
  }

  .line1 {
    border-right: 2px solid var(--main-color);

    /* define animation types for text + cursor */
    animation: animated-text__1 1s steps(6) 1s 1 normal both,
      animated-cursor__1 900ms steps(6, end) 3;
  }

  .line2 {
    border-right: 2px solid var(--main-color);

    /* define animation types for text + cursor */
    animation: animated-text__2 3s steps(30) 1s 1 normal both,
      animated-cursor__2 900ms steps(30, end) 3;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  .line3 {
    border-right: 2px solid var(--main-color);

    /* define animation types for text + cursor */
    animation: animated-text__3 1.5s steps(9) 1s 1 normal both,
      animated-cursor__3 900ms steps(9, end) infinite;
    -webkit-animation-delay: 6.3s;
    animation-delay: 6.3s;
  }

  @keyframes animated-cursor__1 {
    from {
      border-right-color: rgba(17, 17, 17, 0.9);
    }
    to {
      border-right-color: rgba(255, 255, 255, 0.8);
    }
  }

  @keyframes animated-cursor__2 {
    from {
      border-right-color: rgba(17, 17, 17, 0.9);
    }
    to {
      border-right-color: rgba(255, 255, 255, 0.8);
    }
  }

  @keyframes animated-cursor__3 {
    from {
      border-right-color: rgba(17, 17, 17, 0.9);
    }
    to {
      border-right-color: rgba(255, 255, 255, 0.8);
    }
  }

  @keyframes animated-text__1 {
    from {
      width: 0;
    }
    to {
      width: 12rem;
    }
  }

  @keyframes animated-text__2 {
    from {
      width: 0;
    }
    to {
      width: 36rem;
    }
  }

  @keyframes animated-text__3 {
    from {
      width: 0;
    }
    to {
      width: 20rem;
    }
  }

  .different-color {
    color: var(--color-very-light);
  }

  .different-font {
    font-family: "Barlow", sans-serif;
    font-size: 3 em;
    margin-left: 0.1em;
    margin-right: 0.1em;
  }

  .welcometext {
    margin-top: 60px;
  }

  .welcometext > p {
    font-size: 1.2rem;
    width: 60%;
    margin-left: 20px;
  }

  .container {
    gap: 1rem 1rem;
    max-width: 500px;
  }
  .container > * {
    height: 90px;
    width: 90px;
  }

  .container img {
    height: 90px;
    width: 90px;
  }

  .container div {
    height: 80px;
    width: 80px;
  }

  .card {
    max-width: 250px;
    padding-left: 10px;
    padding-left: 10px;
  }

  .cardscontainer h2 {
    font-size: 2rem;
    margin-bottom: 55px;
  }
}

@media only screen and (min-width: 992px) {
  header {
    margin: 2% 5% 0 5%;
  }

  .logosvg {
    height: 5rem;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 40px;
    height: 7px;
  }

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .welcometext {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .container {
    margin: 5rem auto 5rem auto;
    max-width: 1100px;
  }

  .container img {
    height: 130px;
    width: 130px;
  }

  .container div {
    height: 120px;
    width: 120px;
  }

  .meetus {
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    text-align: center;
    width: 90%;
  }

  h2 {
    font-size: 4rem;
    text-transform: uppercase;
  }

  .meetus > p {
    font-style: italic;
    font-size: 1.1rem;
  }

  .cardscontainer {
    margin: 100px auto 100px auto;
  }
  .cardscontainer h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}
